<div class="container about">
  <div class="card text-white bg-dark">
  <h5>Thank you very much for using our car reeenting service! <br> <br>
    This project was made in Angular and within 24 hours. Hereby you can read more about our team and our project.</h5>
  </div>
  <h2>Team</h2>
  <p>We gathered together and created this application for the purpose of Heckaton. We have been learning Full-Stack in the past months so we could manage and assign Frontend, Backend and DevOps tasks really conveniently.</p>
  <h2>Members</h2>
  <div class="row">
  <div class="card col-md-6">
    <img class="card-img-top" src="./../../../assets/TothReka.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">Réka Tóth</p>
      <p class="card-text">Back-end</p>
    </div>
  </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="./../../../assets/TiringerDaniel.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Dániel Tiringer</p>
        <p class="card-text">DevOps</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="./../../../assets/GaliczMihaly.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Mihány Galicz</p>
        <p class="card-text">Front-end</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="./../../../assets/PeterfiMatyas.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Mátyás Péterfi</p>
        <p class="card-text">Front-end</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="./../../../assets/KristalyDaniel.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Dániel Kristály</p>
        <p class="card-text">Front-end</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="./../../../assets/LakosPal.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Pál Lakos</p>
        <p class="card-text">Front-end</p>
      </div>
    </div>
  </div>
</div>
  